# Машинное обучение – весна 2025

# Домашнее задание 4: Градиентный бустинг

Правила:

- Домашнее задание оценивается в 10 баллов (+ 2 бонусных балла)


- Можно использовать без доказательства любые результаты, встречавшиеся на лекциях или семинарах по курсу, если получение этих результатов не является вопросом задания.


- Можно использовать любые свободные источники с обязательным указанием ссылки на них.


- Плагиат не допускается. При обнаружении случаев списывания, 0 за работу выставляется всем участникам нарушения, даже если можно установить, кто у кого списал.

В этой работы мы будем учиться предсказывать зарплату data scientist-ов в зависимочти от ряда факторов с помощью градиентоного бустинга

work_year: The number of years of work experience in the field of data science.

experience_level: The level of experience, such as Junior, Senior, or Lead.

employment_type: The type of employment, such as Full-time or Contract.

job_title: The specific job title or role, such as Data Analyst or Data Scientist.

salary: The salary amount for the given job.

salary_currency: The currency in which the salary is denoted.

salary_in_usd: The equivalent salary amount converted to US dollars (USD) for comparison purposes.

employee_residence: The country or region where the employee resides.

remote_ratio: The percentage of remote work offered in the job.

company_location: The location of the company or organization.

company_size: The company’s size is categorized as Small, Medium, or Large.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("ds_salaries.csv")

In [ ]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

## Задание 1 (1 балл)

Выполните подготовку данных:
- удалите из признаков salary, чтобы избежать лика в данных;
- в качестве таргета используйте salary_in_usd;
- разделите выборку на train, validation, test (80%, 10%, 10%).

## Задание 2 (1 балл)

Обучите модель линейной регресии и оцените её качество с помощью метрик MAPE и RMSE

## Задание 3 (1 балл)

Обучите модель бустинга (выберите любую из трех библиотек: catboost, xgboost, lightgbm) и оцените её качество с помощью метрик MAPE и RMSE

## Задание 4 (3 балла)

Выполните предобработку категориальных признаков с помощью:
- onehot кодирования
- labelencoder
- счетчиков (mean target encoding).

Для каждого способа кодирования категориальных признаков обучите три модели градиентного бустинга (catboost, xgb, lgbm) и оцените их качество с помощью mape и rmse.

Какие выводы можно сделать? Выберите для каждой из моделей лучший способ кодирования категориальных признаков - в дальнейшем будем работать только с ним.

## Задание 5 (2 балла)

Для трех конфигураций моделей, полученных в предыдущем пункте, выполните подбор гиперпараметров (как минимум, подберите число деревьев в ансамбле и глубину используемых деревьев).

## Задание 6 (2 балл)

Какая из моделей показала лучший результат по качеству, скорости обучения и скорости предсказания? (необходимо сделать замер времени обучения и инференса)

## Задание 7 (2 балла) - БОНУС

Сравните feature importance трех моделей с помощью SHAP. Какие выводы можно сделать?